.main {
  display: flex;
  flex: 1;
  background-color: #12002b;
 
}



.sign-in-content {
  box-sizing: border-box;
  background-color: white;
  width: 300px;
  margin: 0 auto;
  margin-top: 3rem;
  padding: 2rem;
  height: 373.08px;
}

.sign-in-icon {
  font-size: 5rem;
}


