.sign-in-button {
  display: block;
  width: 252px;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
  border-width: 0;
  text-decoration: underline;
}
.sign-in-button:disabled{
  border-color: #7f7f7f;
  background-color: #7f7f7f;
  cursor: not-allowed;
}

.edit-button {
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  min-width: 90px;
}
.edit-button:disabled{
  border-color: #7f7f7f;
  background-color: #7f7f7f;
  cursor: not-allowed;
}

.transaction-button {
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
}
.transaction-button:disabled{
  border-color: #7f7f7f;
  background-color: #7f7f7f;
  cursor: not-allowed;
}

@media (min-width: 720px) {

  .transaction-button {
    width: 200px;
  }
}
