.formContainer {
    width: 40%;
    margin: auto;

    
}

.btnContainer {
        display: flex;
        margin: 0 auto;
        gap: 0.5rem;
        justify-content: center;

    }

.formError{

    margin: 8px;
    color: red;
    font-weight: bold;
    font-size: 12px;
}