.hero {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left -50px;

}

.content {
  position: relative;
  z-index: 1;
}

@media (min-width: 920px) {
  .hero {
    height: 400px;
  }

  .image {
    object-position: left clamp(-185px, calc(-71px - (114 * (100vw - 920px) / 520)), -71px);
   }


}
